apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "backend-data.fullname" . }}
  labels:
    {{- include "backend-data.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "backend-data.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "backend-data.labels" . | nindent 8 }}
    spec:
      containers:
        - name: backend-data
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
          env:
            - name: EXTERNAL_USERS_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: {{ include "backend-data.configMapName" . }}
                  key: EXTERNAL_USERS_BASE_URL
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
